@charset "UTF-8";

body {
	background-color: #FFCCAA;
	min-height: 100%;
}
.wrapper {
	width: 1200px;
	border: 1px dotted red;
	margin: 0 auto;
	background-color: #ffffff;
	min-height: 100vh;
	position: relative;
}
header {
	height: 240px;
}
.top {
	height: 40px;
	background-color: #666666;
}
ul.topmenu {
	width: 200px;
	float: right;
	margin: 0;
	list-style-type: none;
	padding-left: 0;
}
ul.topmenu li {	
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
}
ul.topmenu li a {
	text-decoration: none;
	color: #ffffff;
}
.logo {
	height: 160px;
	background-color: aqua;
}
.logo h1 {
	text-align: center;
	margin: 0;
	height: 160px;
	line-height: 160px;
	
}
nav {
	height: 40px;
	background-color:cadetblue;
}
ul.menu {
	margin: 0;
	list-style-type: none;
	height: 40px;
	
	width: 900px;
	margin: 0 auto;
}
ul.menu li {
	float: left;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: cornflowerblue;
	text-align: center;
}

/*게시판 디자인*/
.main_wrap .sub_banner h2 {
	text-align: center;
}

.content_wrap {
	width: 1000px;
	margin: 0 auto;
}
.board_table {
	width: 100%;
	margin: 20px auto;
	border-collapse: collapse;
}
.post_title {
	background-color: #111111;
	color: white;
}
.post_num {
	width: 10%;
	text-align: center;
}
.post_date {
	width: 20%;
	text-align: center;
}
.post_view {
	width: 10%;
	text-align: center;
}

.board_table thead {
	border-top: 2px solid #666666;
	border-bottom: 1px solid #999999;
}

tbody tr {
	border-bottom: 1px solid #cccccc;
}

.board_btns {
	width: 100%;
}
.search {
	/*border: 1px solid red;*/
	width: 300px;
	float: right;
	margin: 20px 0;
}
.control {
	width: 300px;
	float: right;
	margin: 20px 0;
}
.control_btn {
	height: 30px;
	border: none;
	background-color: #111111;
	color: #eeeeee;
	border-radius: 5px;
	float: right;
	cursor: pointer;
}
.search_box {
	height: 30px;
}
.search_btn {
	height: 30px;
	border: none;
	background-color: #111111;
	color: #eeeeee;
	border-radius: 5px;
	cursor: pointer;
}

.board_pages {
	clear: both;
	width: 100%;
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}
.board_pages li {
	display: inline-block;
	width: 30px;
}
.board_page a,
.board_left a,
.board_right a {
	text-decoration: none;
	color: black;
	width: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}
.board_page a.active {
	background-color: #111111;
	color: white;
	display: inline-block;
}

/*푸터영역*/
footer {
	background-color: #3355ff;
	color: #ffffff;
	height: 60px;
	line-height: 60px;
	clear: both;
	position: absolute;
	bottom: 0;
	width: 1200px;
}
footer address {
	text-align: center;
}
footer address span {
	color: deeppink;
}