<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.human.prj.mapper.Material_SC_Mapper">

	<!-- <typeAlias type="edu.human.prj.vo.BoardVO" alias="BoardVO" /> -->


 	<select id="getList" resultType="Material_SC_VO">
		<![CDATA[
			select  * from supply_company order by bGroup desc, bStep asc
		]]>
	</select>



	<select id="read" resultType="Material_SC_VO">
	<![CDATA[
		select * from supply_company where sc_Num = #{sc_num}
	]]>
	</select>

	<update id="updateShape">
	<![CDATA[
		update supply_company set bStep = bStep + 1 where bgroup = #{bgroup} and bstep > #{bstep}
	]]>
	</update>
	
	


	<insert id="insertReply">
	<![CDATA[
		insert into supply_company (sc_Num, users_id, sc_name, sc_material, sc_remarks, bGroup, bStep, bIndent) values (SUPPLY_COMPANY_SEQUENCE.nextval, #{users_id}, #{sc_name}, #{sc_material}, #{sc_remarks}, #{bgroup}, #{bstep}+1, #{bindent}+1)
	]]>
	</insert>
	
	


	<insert id="insertBoard">
	<![CDATA[
		insert into supply_company (sc_Num, ms_mr_Num, ms_md_Num, bgroup, bstep, bindent, users_id, ms_remarks) values (MATERIAL_STOCK_SEQUENCE.nextval, #{ms_mr_Num}, #{ms_md_Num}, MATERIAL_STOCK_SEQUENCE.currval, 0, 0, #{users_id}, #{ms_remarks})
	]]>
	</insert>
	
	

	<delete id="delete">
	<![CDATA[
		delete from supply_company where sc_Num = #{sc_num}
	]]>
	</delete>




	<update id="updateMaterial">
	<![CDATA[
		update supply_company set sc_Name = #{sc_Name}, sc_Material =
		#{sc_Material}, sc_Remarks = #{sc_Remarks} where sc_Num = #{sc_num}
	]]>
	</update>



	<select id="getTotalCount" resultType="int">
	<![CDATA[
		select count(*) from supply_company
	]]>
	</select>



	<select id="getListWithPaging"
		resultType="Material_SC_VO">
  		 <![CDATA[
      		SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             supply_company 
                         order by bGroup desc, bStep asc   
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
 		  ]]>
	</select> 
</mapper>
