<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="edu.human.prj.mapper.UsersMapper">

	<!-- <typeAlias type="edu.human.prj.vo.BoardVO" alias="BoardVO" /> -->

 	<select id="getList" resultType="UsersVO">
		<![CDATA[
			select  * from users order by users_num desc
		]]>
	</select>

	<select id="read" resultType="UsersVO">
	<![CDATA[
		select * from users where users_Id = #{users_id}
	]]>
	</select>

	<insert id="insertUsers">
	<![CDATA[
		insert into users (users_id, users_pw, users_name, users_rrnum, users_email, users_hp, users_add, users_position, users_join, users_remarks, users_num) values (#{users_id}, #{users_pw}, #{users_name}, #{users_rrnum}, #{users_email}, #{users_hp}, #{users_add}, #{users_position}, sysdate, #{users_remarks}, users_sequence.nextval )
	]]>
	</insert>

	<delete id="delete">
	<![CDATA[
		delete from users where users_Id = #{users_id}
	]]>
	</delete>

	<select id="getTotalCount" resultType="int">
		select count(*) from users
	</select>

	<select id="getListWithPaging"
		resultType="UsersVO">
  		 <![CDATA[
      		SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             users 
                         order by users_Num desc   
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
 		  ]]>
	</select> 
	
	<resultMap id="userMap" type="UsersVO">
	    <result property="users_id" column="users_id"/>
	    <result property="users_pw" column="users_pw"/>
	    <result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap id="authMap" type="AuthVO">
		<result property="users_id" column="users_id"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="getUser" resultMap="userMap">
		select * from users , authorities 
		where users.users_id = authorities.users_id and users.users_id = #{users_id}
	</select>
	
</mapper>
