@charset "UTF-8";


/*게시판 디자인*/



.post_title {
	background-color: #111111;
	color: white;
}
.post_num {
	width: 10%;
	text-align: center;
}
.post_date {
	width: 20%;
	text-align: center;
}
.post_view {
	width: 10%;
	text-align: center;
}

.board_table thead {
	border-top: 2px solid #666666;
	border-bottom: 1px solid #999999;
}

tbody tr {
	border-bottom: 1px solid #cccccc;
}





.board_pages {
	clear: both;
	width: 100%;
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}
.board_pages li {
	display: inline-block;
	width: 30px;
}
.board_page a,
.board_left a,
.board_right a {
	text-decoration: none;
	color: black;
	width: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}
.board_page a.active {
	background-color: #111111;
	color: white;
	display: inline-block;
}

